---
interface Props {
  title: string;
}

const { title } = Astro.props;
import NavBar from "../components/NavBar.jsx";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title="Creative Legazpi"
      description="Mukná Creative Event on Dec 8-10, 2024 in Legazpi City"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/newheroimgs/Creative Legazpi_LogoOutline.svg"
    />

    <title>{title}</title>
  </head>
  <body>
    <!-- <NavBar client:only /> -->
    <slot />
  </body><style is:global>
    /* * {
    border: 1px solid red;
  } */
    body {
      overflow-x: hidden;
    }
  </style>
</html>
