---
interface Props {
  title: string;
}

const { title } = Astro.props;
import NavBar from "../components/NavBar.jsx";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title="Creative Legazpi"
      description="Mukná Creative Event on Dec 8-10, 2024 in Legazpi City"
      openGraph={{
        url: "https://creativelegazpi.ph",
        title: "Creative Legazpi",
        description: "Mukná Creative Event on Dec 8-10, 2024 in Legazpi City",
        images: [
          {
            url: "/newheroimgs/ogimage.png",
            width: 1200,
            height: 630,
            alt: "Creative Legazpi",
          },
        ],
        site_name: "Creative Legazpi",
      }}
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="/newheroimgs/Creative Legazpi_LogoOutline.svg"
    />

    <title>{title}</title>
  </head>
  <body>
    <!-- <NavBar client:only /> -->
    <slot />
    <style is:global>
      /* * {
    border: 1px solid red;
  } */
      body {
        overflow-x: hidden;
      }
    </style>
  </body>
</html>
